.loader {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border-left: 20px solid lightgreen;
  border-right: 20px solid skyblue;
  border-top: 20px solid gray;
  border-bottom: 20px solid gray;
  background-color: white;
  margin-top: 100px;
  margin-bottom: 10px;
  animation: load 0.7s linear infinite;
}
@keyframes load {
  100% {
    transform: rotate(360deg);
  }
}
