.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center !important;
}
h1 {
  font-size: 70px !important;
  font-weight: bold;
  color: darkcyan;
  margin: 50px 0;
}
.image-grid {
  align-items: baseline;
  justify-content: center;
  display: flex;
  width: 75%;
  flex-wrap: wrap;
}
img {
  padding: 20px;
  height: 250px;
  width: 300px;
}
